*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #eac285;
}
.container {
  width: 23rem;
  height: 23rem;
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 52%;
  left: 50%;
  border-radius: 8px;
  box-shadow: 0 20px 45px rgba(120, 76, 10, 0.25);
}
.cake {
  width: 100%;
  position: absolute;
  bottom: 3.75rem;
}
.bottom-layer,
.top-layer,
.middle-layer {
  height: 5rem;
  width: 15rem;
  position: relative;
  margin: auto;
  background-repeat: repeat;
  background-size: 100% 100%, 60px 100px;
  background-position: 1.75rem 0;
  background-image: linear-gradient(
      transparent 3.125rem,
      #e3a953 3.125rem,
      #e3a953 3.75rem,
      transparent 3.75rem
    ),
    radial-gradient(circle at 1.875rem 0.3125rem, #713e16 1.875rem, #eac284 1.935rem);
}
.middle-layer {
  transform: scale(0.85);
  top: 4.5rem;
  animation: rise-1 2s forwards;
}
@keyframes rise-1 {
  100% {
    top: 0.4375rem;
  }
}
.top-layer {
  transform: scale(0.7);
  top: 9rem;
  animation: rise-2 2s 2s forwards;
}
@keyframes rise-2 {
  100% {
    top: 1.625rem;
  }
}

/* Smoke and Candle */
.candle {
  background: repeating-linear-gradient(
    45deg,
    #fd3018 0,
    #fd3018 0.3125rem,
    #ffa89e 0.3125rem,
    #ffa89e 0.625rem
  );
  height: 2.8125rem;
  width: 0.9375rem;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  animation: rise-3 1s 4s forwards;
}
@keyframes rise-3 {
  100% {
    bottom: 12.625rem;
  }
}
.candle-flame {
  content: "";
  position: absolute;
  height: 1rem;
  width: 1rem;
  background-color: #ffee54;
  border-radius: 0 50% 50% 50%;
  transform: scale(0) rotate(45deg);
  top: -2rem;
  left: 11.05rem;
  animation: flame 1.5s 5s forwards;
}

@keyframes flame {
  100% {
    transform: scale(1) rotate(45deg);
  }
}

.smoke-box {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 12%;
  left: 48%;
  display: none;
}

.smoke {
  position: absolute;
  width: .5rem;
  height: .5rem;
  background-color: #9a9a9a;
  box-shadow: 0 0 2rem black;

}

.smoke1 {
  transform: rotate(45deg);
  animation: burn-smoke-rev 3s linear infinite;
  left: 0rem;
}

.smoke2 {
  transform: rotate(90deg);
  animation: burn-smoke-rev 4.5s linear infinite;
  left: 0.3rem;
}

.smoke3 {
  transform: rotate(135deg);
  animation: burn-smoke-rev 4s linear infinite;
  left: 0.6rem;
}
.smoke4 {
  transform: rotate(150deg);
  animation: burn-smoke-rev 5.5s linear infinite;
  left: 0.9rem;
}
.smoke5 {
  transform: rotate(150deg);
  animation: burn-smoke-rev 6s linear infinite;
  left: 1.2rem;
}

.confetti-box {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 75%;
    left: 50%;
}


@keyframes burn-smoke-rev {
  0% { transform: rotate(0deg) scale(1);  opacity: 1; top: 0px }
  50% { transform: rotate(-180deg) scale(1.5);  opacity: 0.75; top: -50px }
  100% {transform: rotate(-360deg) scale(2); opacity: 0; top: -100px;}
}

/* Button */
.confetti-box {
  margin-top: 2rem;
}
.button-42 {
  display: inline-block;
  top: -50rem;
  background-color: initial;
  background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
  transition: box-shadow .2s;
  animation: btn 5s ease-in-out forwards;
}

.button-42:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}

@keyframes btn {
  0% { 
    top: -50rem;
  }
  50% {

  }
  100% {
    top: 5rem;
  }
}

.title {
  width: 100%;
  position: absolute;
  transform: translate(-50%, 0%);
  left: 50%;
  top: 2rem;
  text-align: center;
  display: none;
  animation: letter 3s ease-in-out forwards;

}

.lettering {
  font-family: monospace sans-serif;
  font-size: clamp(3rem, 10vw, 5rem);
  color: #fff;
  margin: 1rem;
  font-weight: bold;
}

@keyframes letter {
  0% { 
    top: -20rem;
  }
  50% {

  }
  100% {
    top: 3rem;
  }
}
